<center><h1>Login</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <form action='/login' method="POST">
    <label>Username: </label><input type="text" name="username"placeholder="Enter Username"><br>
    <label>Password: </label><input type="text" name="password"placeholder="Enter Password"><br>
    <input class="btn btn-primary" type="submit"value="Log In"><br><br>
    <a href='/signup'>Or Sign Up</a>
  </form>
</center>
