<h1>Edit <%= @prop.name %></h1>

<form action="/bills/<%=@prop.id %>" method="POST">
  <label> Bag Name </label>
  <input type="text" name="name" value="<%=@prop.name %>"> </br>

  <label> Room Capacity </label>
  <input type="number" name="rooms" value="<%=@prop.rooms %>"> </br>

  <input type="submit" value="Update">
</form>
