<center><h1>Please add a New Property</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<form action="/property" method="POST">
  <label> Property Name  </label>&nbsp;
  <input type="text" name="name"> </br>

  <label> Room Capacity </label>&nbsp;
  <input type="number" name="rooms"> </br>

  <input type="submit" value="Create">
</form></center>
