<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<center>
<p> Welcome, <%= current_user.username %>
<h2>Here are you current properties</h2>

<% @prop.each do |prop| %>
  <div>
    <label>Property:</label> <%= prop.name %><br />
    <label>Rooms Capacity:</label> <%= prop.rooms %> <br />
    Edit: <a href = "/property/index/prop.id"><%=prop.name%></a>&nbsp;
  </div>
<% end %>
</center
