<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<center>
  <h2><br>Here is your update? Likey?</h2>
<label>Name: </label><%= @prop.name %><br>
<label>Rooms: </label><%= @prop.rooms %>

<form method="post" action="/property/<%=@prop.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-primary"value="Delete Update"><br>
  <a href="/property">Keep Update </a><br>
  <a href="/property/<%=@prop.id%>/edit">Edit Update </a>
</form>
</center>
