<h1>Create a new Bill</h1>

<form action="/bills" method="POST">
<label>Name:</label><input type="text" name="bill[name]" id="Name"><br>
<label>User:</label><input type="text" name="bill[user]" id="User Name"><br>
<label>Property:</label><br>
<% @prop.each do |prop| %>
  <input id="<%= prop.name %>" type="checkbox" name="bill[properties][]" value="<%= prop.id %>"><%= prop.name %><br>
<% end %>
<br><br>
<input type="submit" value="Create">
</form>
