<h1>Add a New Bill</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<form action="/bills" method="POST">
  <label> Bill Name </label>
  <input type="text" name="name"> </br>

  <label> Bill Amount </label>
  <input type="text" name="amount"> </br>

  <label> Which Property does this belong in? </label>
  <select name="property_id">
    <% current_user.property.each do |prop| %>
      <option value=<%=prop.id %>><%= prop.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create">
</form>
